page-changepwd {
  .item-block {
    //box-shadow: none!important;
    //border-bottom: 1px solid #c`8c7cc!important;
  }
  .item-inner {
    box-shadow: none!important;
    //border-bottom: none!important;
  }
  .item-inner .label {
    color: #333;
  }
  .item {
    box-shadow: none!important;
    border-bottom: none!important;
    background-color: color($colors, light);
  }
  ion-input {
    border-bottom: 1px solid #c8c7cc!important;
  }
  .item-input-has-focus ion-input{
    border-bottom: 1px solid #488aff!important;
  }
}
