// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, ortheme/variables.scss". .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content {
  //overflow-y: hidden;
  margin-top: 56px;
  padding-bottom: 0!important;
  background: color($colors,light);
}
ion-icon {
  overflow: hidden;
}
ion-buttons {
  pointer-events: auto;
}

.border-1px::after {
  position: absolute;
  bottom: 0;
  left: 18px;
  right: 18px;
  display: block;
  overflow: hidden;
  content: '';
  border-bottom: 1px solid color($colors,gray);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
  .border-1px::after {
    -webkit-transform: scaleY(0.34);
    transform: scaleY(0.34)
  }
}
