page-newfriends {
  .item-divider {
    border-bottom: none;
  }
  .label {
    margin: 0;
  }
  .searchbar-input-container .searchbar-search-icon {
    top: 14px;
  }
  .gray {
    font-size: 1.2rem;
  }
}
