page-changephone {
  .item-block {
    box-shadow: none!important;
    border-bottom: 1px solid #c8c7cc!important;
  }
  .item-inner {
    box-shadow: none!important;
    border-bottom: none!important;
  }
}
